#header,#title {
    background-color: #97A4A6;
}
  

#title h1 {
 font-size: 70px;
 
}

.feature-icon {
 width: 4rem;
 height: 4rem;
 border-radius: 0.75rem;
}

#footer {
 background-color:rgb(183, 177, 170);
}

#projects {
  background-color: #011C26; 
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-style: italic;
   
}

